---
import { SEO } from 'astro-seo';

import '../styles/global.css';
import '../styles/transitions.css';

export interface Props {
  title: string;
  description?: string;
  keywords?: string;
  author?: string;
}

const {
  title = "Entenda o Autismo por meio do Método RPM",
  description = "Um guia transformador sobre o ensino de pessoas autistas não falantes, baseado no método RPM. Ideal para pais, educadores e profissionais que acreditam no potencial de cada ser humano.",
  keywords = "livro sobre autismo, autismo não falante, método RPM, Rapid Prompting Method,Soma Mukhopadhyay,educação para autistas,ensino para autistas não verbais,livro físico autismo,presumir competência,comunicação alternativa autismo,autismo e aprendizagem,livro para pais de autistas,como ensinar autistas não falantes, educação inclusiva autismo, RPM Brasil",
  author = "Renata Bonotto",
} = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="flex min-h-full flex-col">
    <div id="page-wrapper">
      <slot />
    </div>
    <script src="../scripts/transitions.js"></script>
  </body>
</html>
